<h1>Identificadro de numeros primos y divisibles por 3</h1>
<ul>
  <li *ngFor="let  numero of listaDeNumeros">
      <span [ngStyle]="{color: colorEnDistintosEstados(numero)}">
        {{numero}}
      </span>
  </li>
</ul>

<button (click)="cambiarEstadoInformacion()">Mostrar u ocultar información</button>
<ul *ngIf="mostrarInformacion">
  <li>Numeros primos en <span style="color: red">Rojo</span></li>
  <li>Numeros divisibles por 3 en <span style="color:green">Verde</span></li>
  <li>Numeros divisibles por 2 en <span style="color:blue">Azul</span></li>
</ul>
